.container {
	width: 90%;
	margin: 0 auto;
}

.content__items {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 3vw;

}

@media (max-width: 1380px) {
	.content__items {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 1090px) {
	.content__items {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.content__items {
		grid-template-columns: 1fr;
	}
}
