.navbar__block {
    height: 64px;
    background-color: rgb(55, 51, 51);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px 0 200px;
}

.navbar__item:hover {
    color: rgb(197, 184, 184);
    cursor: pointer;
}